/*colors*/
/*fonts*/
/*24px*/
/*16px*/
/*14px;*/
body {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

#head {
  height: 338px;
  width: 100%;
}
#head .container {
  position: relative;
}
#head .background {
  height: 338px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  border: 1px solid transparent;
  background-color: #777;
}
#head .background div {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-position: center center;
  filter: blur(10px);
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  transform: scale(1.1);
}

#content {
  margin-top: -110px;
}

.icon {
  margin: 0 auto;
  display: block;
}
.icon.add {
  background: url(../img/icons/add_icon.svg) no-repeat center top;
  width: 42px;
  height: 42px;
}
.icon.add_photo {
  background: url(../img/icons/add_photo_icon.svg) no-repeat center top;
  width: 46px;
  height: 42px;
}

.thumbnails {
  padding: 5px;
}
.thumbnails .thumbnail {
  cursor: pointer;
  width: 263px;
  height: 215px;
  border-radius: 5px;
  background-color: #fff;
  -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  padding: 0px;
  margin: 13px;
  position: relative;
  display: inline-block;
  overflow: hidden;
  transition: top ease 0.5s;
  top: 0;
}
.thumbnails .thumbnail.add {
  box-shadow: none;
}
.thumbnails .thumbnail.add:hover {
  top: 0;
}
.thumbnails .thumbnail:hover {
  top: -10px;
}
.thumbnails .thumbnail:hover .title {
  height: 90px;
}
.thumbnails .thumbnail:hover .title .count {
  color: #aaaaaa;
}
.thumbnails .add a {
  color: #aaaaaa;
  font-weight: 700;
  text-align: center;
  width: 100%;
  text-transform: uppercase;
  line-height: 50px;
  text-decoration: none;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.thumbnails .title {
  color: #555555;
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 58px;
  text-align: center;
  display: block;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  width: 100%;
  transition: height ease 0.5s;
  height: 58px;
  margin-bottom: 0;
}
.thumbnails .title .count {
  font-size: 1em;
  color: transparent;
  text-transform: lowercase;
  display: block;
  line-height: normal;
  margin-top: -15px;
  transition: color ease 0.5s;
}

h1 {
  font-size: 1.5em;
  font-weight: 500;
  color: #fff;
  margin-bottom: 40px;
  padding-top: 100px;
  text-transform: uppercase;
}

h2 {
  font-size: 1em;
  font-weight: 500;
  color: #fff;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding-bottom: 13px;
  text-transform: uppercase;
}
h2 .back_icon {
  background: url(../img/icons/back_icon.svg) no-repeat left center;
  padding-left: 33px;
}

footer {
  color: #aaaaaa;
  font-size: 0.875em;
}
footer a {
  text-decoration: none;
  color: #aaaaaa;
}

/* MODAL */
.modal-backdrop.show {
  opacity: 0.75;
}

.modal-header {
  border-bottom: none;
}
.modal-header .modal-title {
  color: #555555;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: 500;
}
.modal-header .close {
  font-weight: 500;
  color: #fff;
  font-size: 1em;
  margin-top: -65px;
  opacity: 1;
  text-shadow: none;
  text-transform: uppercase;
}
.modal-header .close.close_icon {
  background: url(../img/icons/close_modal_icon.svg) no-repeat left center;
  padding-left: 40px;
  padding-right: 0;
}

#image-gallery .modal-content {
  background-color: transparent;
  border: none;
}
#image-gallery .modal-header {
  padding: 0;
}
#image-gallery .modal-body {
  padding: 0 50px;
}
#image-gallery .modal-body img {
  padding: 0;
}
#image-gallery .modal-footer {
  padding: 0;
  border: none;
}
#image-gallery .modal-footer .btn {
  position: absolute;
  width: 50px;
  height: 100%;
  border: none;
  box-shadow: none;
  opacity: 0.5;
}
#image-gallery .modal-footer .btn:hover {
  opacity: 1;
}
#image-gallery #show-next-image {
  top: 0;
  right: 0;
  background: url(../img/icons/next_icon.svg) no-repeat right center;
}
#image-gallery #show-previous-image {
  top: 0;
  left: 0;
  background: url(../img/icons/prev_icon.svg) no-repeat left center;
}

.inputContainer {
  width: 100%;
  border-bottom: 3px solid #eeeeee;
  margin: 0;
  padding-bottom: 8px;
}
.inputContainer input[type=text] {
  border: none;
}
.inputContainer input[type=text]::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #aaaaaa;
  opacity: 1;
  /* Firefox */
}
.inputContainer input[type=text]:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #aaaaaa;
}
.inputContainer input[type=text]::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #aaaaaa;
}
.inputContainer .btn-primary, .inputContainer .btn-primary:not(:disabled):not(.disabled):active {
  background: #42c78d;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1em;
  color: #fff;
  border: none;
  box-shadow: none;
  text-shadow: none;
  font-family: "Roboto", sans-serif;
}
.inputContainer .btn-primary.add_icon, .inputContainer .btn-primary:not(:disabled):not(.disabled):active.add_icon {
  background: #42c78d url(../img/icons/add_button_icon.svg) no-repeat 25px center;
  padding: 14px 25px 14px 50px;
}

#addImageModal .modal-header {
  padding-left: 2em;
  padding-right: 2em;
}
#addImageModal .modal-body {
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 2em;
}
#addImageModal .inputContainer {
  border: none;
}
#addImageModal .dropArea {
  border: 3px dashed #eeeeee;
  width: 100%;
  padding: 40px 0;
  text-align: center;
  margin-bottom: 20px;
}
#addImageModal .dropArea .label {
  display: block;
  color: #aaaaaa;
  font-size: 500;
  line-height: normal;
  margin-top: 16px;
}
#addImageModal .dropArea button {
  text-transform: uppercase;
  color: #aaaaaa;
  font-size: 500;
  display: inline-block;
  border-radius: 4px;
  border: 3px solid #aaaaaa;
  padding: 10px 30px;
  margin-top: 10px;
  font-weight: 500;
}

.gallery-page .thumbnails .thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.lds-dual-ring {
  display: none;
  width: 80px;
  height: 80px;
  margin: 0 auto;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #42c78d;
  border-color: #42c78d transparent #42c78d transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading .inputContainer {
  display: none;
}
.loading .lds-dual-ring {
  display: block;
}

.dropArea aside {
  margin-top: 20px;
}
.dropArea aside ul {
  list-style: none;
  padding: 0;
}
.dropArea aside ul li {
  list-style: none;
  display: block;
  text-align: center;
  color: #aaaaaa;
}

/*# sourceMappingURL=main.css.map */
