/*colors*/
$normal-color:#555555;
$light-color:#aaaaaa;
$button-color:#42c78d;

/*fonts*/
$font-medium:500;
$font-bold:700;

$font-size-big:1.5em; /*24px*/
$font-size-medium:1em;/*16px*/
$font-size-normal:0.875em; /*14px;*/
body {
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
}
#head {
	height:338px;
	width: 100%;
	.container {
		position: relative;
	}
	.background {
		height:338px;
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
	  	overflow: hidden;
	  	border: 1px solid transparent;
	  	background-color: #777;
		div {
			position: absolute;
			top: 0;
			left: 0;
			height:100%;
			width: 100%;
			background-size: cover;   
			-ms-background-size: cover;   
			-o-background-size: cover;   
			-moz-background-size: cover;   
			-webkit-background-size: cover;
			background-position: center center;
			filter: blur(10px);
			-webkit-filter: blur(10px);
			-moz-filter: blur(10px);
			-o-filter: blur(10px);
			-ms-filter: blur(10px);
			transform: scale(1.1);			
		}

	}
}
#content {
	margin-top: -110px;
}
.icon {
	margin:0 auto;
	display: block;
	&.add {
		background: url(../img/icons/add_icon.svg) no-repeat center top;
		width: 42px;
		height: 42px;
	}
	&.add_photo {
		background: url(../img/icons/add_photo_icon.svg) no-repeat center top;
		width: 46px;
		height: 42px;
	}
}

.thumbnails {
	padding:5px;

	.thumbnail {
		cursor: pointer;
		width: 263px;
		height: 215px;
		border-radius:5px;
		background-color: #fff;
		-webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
		-moz-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
		box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
		padding: 0px;
		margin: 13px;
		position: relative;
		display: inline-block;
		overflow: hidden;
		transition: top ease 0.5s;
		top:0;
		&.add {
			box-shadow: none;
			&:hover {
				top:0;
			}
		}

		&:hover {
			top: -10px;
			.title {
				height: 90px;
				.count {
					color:$light-color;
				}
			}

		}
	}

	.add {
		a {
			color:$light-color;
			font-weight: $font-bold;
			text-align: center;
			width: 100%;
			text-transform: uppercase;
			line-height: 50px;
			text-decoration: none;
			position: absolute;
			top: 50%;
			left: 0;
			transform: translateY(-50%);
		}
	}

	.title {
		color:$normal-color;
		font-size:$font-size-medium;
		text-transform: uppercase;
		font-weight: $font-medium;
		line-height: 58px;
		text-align:center;
		display: block;
		background-color: #fff;
		position: absolute;
		bottom: 0;
		width: 100%;
		transition: height ease 0.5s;
		height: 58px;
		margin-bottom: 0;
		.count {
			font-size: $font-size-medium;
			color:transparent;
			text-transform: lowercase;
			display: block;
			line-height: normal;
			margin-top: -15px;
			transition: color ease 0.5s;
		}

	}
	
}

h1 {
	font-size: $font-size-big;
	font-weight: $font-medium;
	color:#fff;
	margin-bottom: 40px;
	padding-top:100px;
	text-transform: uppercase;
}
h2 {
	font-size: $font-size-medium;
	font-weight: $font-medium;
	color: #fff;
	width: 100%;
	border-bottom:1px solid rgba(255, 255, 255, 0.2);
	padding-bottom: 13px; 
	text-transform: uppercase;
	.back_icon {
		background: url(../img/icons/back_icon.svg) no-repeat left center;
		padding-left:33px;
	}
}
footer {
	color: $light-color;
	font-size: $font-size-normal;
	a {
		text-decoration: none;
		color: $light-color;
	}
}

/* MODAL */
.modal-backdrop.show {
	opacity: 0.75;
}

.modal-header {
	border-bottom:none;
	.modal-title {
		color:$normal-color;
		font-size: $font-size-big;
		text-transform: uppercase;			
		font-weight: $font-medium;
	}
	.close {
		font-weight: $font-medium;
		color: #fff;
		font-size: $font-size-medium;
		margin-top:-65px;
		opacity: 1;
		text-shadow:none;
		text-transform: uppercase;
		&.close_icon {
			background: url(../img/icons/close_modal_icon.svg) no-repeat left center;
			padding-left: 40px;
    		padding-right: 0;			
    	}
	}
}

#image-gallery {
	.modal-content {
		background-color: transparent;
		border:none;
	}
	.modal-header {
		padding:0;
	}
	.modal-body {
		padding:0 50px;
		img {
			padding:0;
		}
	}
	.modal-footer {
		padding:0;
		border:none;
		.btn {
			position: absolute;
			width: 50px;
			height: 100%;
			border:none;
			box-shadow: none;
			opacity: 0.5;
			&:hover {
				opacity: 1;
			}
		}
	}
	#show-next-image {
			top:0;
			right:0;
			background: url(../img/icons/next_icon.svg) no-repeat right center;
	}
	#show-previous-image {
			top:0;
			left:0;
			background: url(../img/icons/prev_icon.svg) no-repeat left center;
	}
}
.inputContainer {
	width: 100%;
	border-bottom: 3px solid #eeeeee;
	margin:0;
	padding-bottom:8px;
	input[type=text] {
		border: none;
		&::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
		  color: $light-color;
		  opacity: 1; /* Firefox */
		}

		&:-ms-input-placeholder { /* Internet Explorer 10-11 */
		  color: $light-color;
		}

		&::-ms-input-placeholder { /* Microsoft Edge */
		  color: $light-color;
		}
	}
	.btn-primary, .btn-primary:not(:disabled):not(.disabled):active  {
		background: $button-color;
		text-transform: uppercase;
		font-weight: $font-medium;
		font-size: $font-size-medium;
		color:#fff;
		border: none;
		box-shadow: none;
		text-shadow:none;
		font-family: 'Roboto', sans-serif;
		&.add_icon {
			background: $button-color url(../img/icons/add_button_icon.svg) no-repeat 25px center;
			padding:14px 25px 14px 50px;
		}
	}
}
#addImageModal {
	.modal-header {
		padding-left: 2em;
		padding-right: 2em;
	}	
	.modal-body {
		padding-left: 2em;
		padding-right: 2em;
		padding-bottom: 2em;
	}
	.inputContainer {
		border:none;
	}
	.dropArea {
		border:3px dashed #eeeeee;
		width: 100%;
		padding:40px 0;
		text-align: center;
		margin-bottom: 20px;
		.label {
			display: block;
			color: $light-color;
			font-size: $font-medium;
			line-height: normal; 
			margin-top:16px;
		}
		button {
			text-transform: uppercase;
			color:$light-color;
			font-size: $font-medium;
			display: inline-block;
			border-radius:4px;
			border: 3px solid $light-color;
			padding:10px 30px;
			margin-top: 10px;
			font-weight: $font-medium;
		}

	}
}
.gallery-page {
	.thumbnails {
		.thumbnail {
			img {
				  width: 100%;
				  height: 100%;
				  object-fit: cover;
			}
		}
	}

}

.lds-dual-ring {
  display: none;
  width: 80px;
  height: 80px;
  margin:0 auto;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid $button-color;
  border-color: $button-color transparent $button-color transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading {
	.inputContainer {
		display: none;
	}
	.lds-dual-ring {
		display: block;
	}

}

.dropArea {
	aside {
		margin-top: 20px;
		ul{
			list-style: none;
			padding:0;
			li {
				list-style: none;
				display: block;
				text-align: center;
				color: $light-color;
			}
		}
	}
}





